MONGO_CONNECTION_URI="mongodb://{USER_NAME}:{USER_PASSWORD}@{HOST}:{PORT}/{DATABASE_NAME}?directConnection=true"

PBKDF2_ITERATION={number}
PBKDF2_LENGTH={number}
PBKDF2_DIGEST={selected algorithm}

JWT_SECRET={string}
JWT_EXPIRES_IN={vercel/ms format string}
JWT_ALGORITHM={one of
    "HS256" | "HS384" | "HS512" |
    "RS256" | "RS384" | "RS512" |
    "ES256" | "ES384" | "ES512" |
    "PS256" | "PS384" | "PS512" |
    "none"}
